#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
@media (max-width: 1440px) {
    #myModal-content {
        position: absolute;
        left: 5%;
        top: 0;
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        animation-name: zoom;
        animation-duration: 0.6s;
        z-index: -1;
    }
    #myModal-title {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #myModal-author {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #myModal-wiki {
        background-color: rgba(0, 0, 0, 0.6);
    }
    @media (max-aspect-ratio: 1/1) {
        #myModal-content img {
            width: auto;
            height: 100%;
        }
    }
    
    @media (min-aspect-ratio: 1/1) {
        #myModal-content img {
            width: 100%;
            height: auto;
        }
    }    
}

@media (min-width: 1440px) {
    #myModal-content {
        position: absolute;
        left: 5%;
        top: 0;
        padding-top: 5%;
        display: block;
        height: 90%;
        max-width: 60%;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
}

#myModal-title {
    position: absolute;
    top: 10%;
    right: 10%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 32px;
    color:bisque;
}
@media (max-width: 1440px) {
    #myModal-content {
        max-width: 90%;
        max-height: 90%;
    }
}
#myModal-author {
    position: absolute;
    top: 15%;
    right: 10%;
    padding-left: 10px;
    font-size: 32px;
    color:bisque;
}
#myModal-wiki {
    position: absolute;
    top: 80%;
    right: 10%;
    padding-left: 10px;
    font-size: 32px;
    color:bisque;
}
#edit-button {
    position: absolute;
    top:21%;
    right: 8%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: bisque;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #edit-button:hover {
    background-color: #ffcc99;
  }  

/* Animacja powiększania zawartości modalnego okna */
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* Przycisk "Zamknij" */
#myModal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
#myModal-close:hover {
    color: #bbb;
}