#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
/* Przycisk "Zamknij" */
#myModal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#myModal-title {
    position: absolute;
    top: 10%;
    right: 10%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 32px;
    color:bisque;
}
#myModal-author {
    position: absolute;
    top: 15%;
    right: 10%;
    padding-left: 10px;
    font-size: 32px;
    color:bisque;
}
#myModal-wiki {
    position: absolute;
    top: 80%;
    right: 10%;
    padding-left: 10px;
    font-size: 32px;
    color:bisque;
}
#edit-button {
    position: absolute;
    top:21%;
    right: 8%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: bisque;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #edit-button:hover {
    background-color: #ffcc99;
  }  

@media (max-width: 1440px) {
    #myModal-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        z-index: -1;
    }    
    #myModal-title {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #myModal-author {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #myModal-wiki {
        background-color: rgba(0, 0, 0, 0.6);
    }
    #edit-button {
        top: 93%;
        right: 70%;
        font-size: 52px;
      }
   
}
@media (min-width: 1440px) {
    #myModal-content {
        position: absolute;
        left: 5%;
        top: 0;
        padding-top: 5%;
        display: block;
        height: 90%;
        max-width: 60%;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
}

@media (max-width: 1024px) {
    #myModal-close {
        font-size: 102px;
    }
    #myModal-title {
        font-size: 52px;
    }
    #myModal-author {
        position: absolute;
        top: 85%;
        font-size: 42x;
    }
    #myModal-wiki {
        top: 90%;
    }
    #myModal-close {
        font-size: 52px;
        margin-right: 5px;
        margin-top: 5px;
    }
}
/* Animacja powiększania zawartości modalnego okna */
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#myModal-close:hover {
    color: #bbb;
}