.prev-btn,
.next-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: block; /* Ustawienie przycisków jako bloki */
  margin: 0 5px;
}
@media (max-width: 1024px) {
  .prev-btn,
  .next-btn {
    font-size: 42px;
    padding: 16px 16px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; /* Ustawienie przycisków jako elementy inline */
    transform: translateX(-50%);
  }
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #666;
}
/* Styl przycisków stronicowania */
.gallery-pagination {
  position: relative;
}

.page-buttons-container {
  position: relative;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.page-buttons-container button {
  flex: 1;
  margin: 0 2px;
}

#pageButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.page-button.active {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 0 4px #333;
}

.page-button {
  display: inline-block;
  margin-top: 1%;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .page-button{
    padding: 10px 15px;
    font-size: 42px;
  }
}
  
.page-button:hover {
  background-color: #666;
}

.animate-left {
  animation: slide-left 5s forwards;
}

.animate-right {
  animation: slide-right 5s forwards;
}

.animate-from-left{
  animation: slide-left-window 5s forwards;
}

.animate-show {
  animation: fade-out 5s forwards;
}
.animate-hide {
  animation: fade-out 3s forwards;
}

.animate-bottom {
  animation: slide-bottom 3s forwards;
}

.animate-from-bottom {
  animation: slide-bottom-window 3s forwards;
}

@keyframes slide-left {
  from {
      transform: translateX(1000%);
  }
  to {
      transform: translateX(0);
  }
}
@keyframes slide-left-window{
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-1000%);
  }
}
@keyframes slide-bottom {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}
@keyframes slide-bottom-window{
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(1000%);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}