/* Styl przycisków Previous i Next */
.prev-btn,
.next-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: block; /* Ustawienie przycisków jako bloki */
  margin: 0 5px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #666;
}
/* Styl przycisków stronicowania */
.gallery-pagination {
  position: relative;
}

.page-buttons-container {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 200px; /* Możesz dostosować szerokość według swoich preferencji */
}

.page-buttons-container button {
  flex: 1;
  margin: 0 2px; /* Możesz dostosować margines według swoich preferencji */
}

  
.page-button {
  display: inline-block;
  margin-top: 1%;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
  
.page-button:hover {
  background-color: #666;
}
  
.page-button.active {
  color: #fff;
  background-color: #333;
}

.animate-left {
  animation: slide-left 5s forwards;
}

.animate-right {
  animation: slide-right 5s forwards;
}

@keyframes slide-left {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-1100%);
  }
}

@keyframes slide-right {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(1100%);
  }
}
