body {
  background-image: url('shutterstock_3424561492.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* opcjonalnie */
}
#gallery {
  height: 80vh; /* Ustaw maksymalną wysokość na 80% wysokości ekranu */
  overflow: auto; /* Dodaj pasek przewijania, jeśli zawartość jest większa niż dostępna przestrzeń */
}