body {
  background-image: url('shutterstock_3424561492.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* opcjonalnie */
  overflow: hidden;
}
#gallery.row.mb-10.gallery-container {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 5%;
}
.navbar {
  font-family: 'Old Standard TT', serif;
  height: 7vh;
}
.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.9); /* Kolor tła z nieprzezroczystością */
}
.footer {
  background-color: #f5f5f5;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  
  .modal-content {
    border-radius: 0;
  }
  
  .modal-body {
    font-size: 24px;
  }
}
